<div class="form-group">

  {{ clause | json }}
  <select class="form-control"  id="field"
          required
          [(ngModel)]="clause.field" name="field">
    <option *ngFor="let field of fields" [value]="field">{{field}}</option>
  </select>


  <select class="form-control"  id="operator"
          required
          [(ngModel)]="clause.operator" name="operator">
    <option *ngFor="let operator of operators" [value]="operator">{{operator}}</option>
  </select>


  <input type="text" class="form-control" id="value"
         required
         [(ngModel)]="clause.value" name="value">

</div>
<br>
