<div class="form-group">

  <select class="form-control" id="field" required [(ngModel)]="clause.field" name="field"
    (ngModelChange)="modelChange()">
    <option *ngFor="let field of fields" [value]="field">{{field}}</option>
  </select>

  <select class="form-control" id="operator" required [(ngModel)]="clause.operator" name="operator"
    (ngModelChange)="modelChange()">
    <option *ngFor="let operator of operators" [value]="operator">{{operator}}</option>
  </select>

  <input type="text" class="form-control" id="value" required [(ngModel)]="clause.value" name="value"
    (ngModelChange)="modelChange()">

  <button type="button" (click)="fireRemoveEvent()">Remove Clause</button>

  {{ clause | json }}

</div>
<br>
